global
    log stdout format raw local0
    daemon
    maxconn 256

defaults
    log global
    option httplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend https_front
    bind *:443 ssl crt /etc/haproxy/certs/guac_ssl.pem
    mode http
    default_backend guacamole_backend

backend guacamole_backend
    mode http
    server guacamole guacamole:8080
